@font-face {
    font-family: "PromptSemiBold";
    src: url(../font/Prompt-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PromptSemiBold";
}

body{
    height: 100vh;
    overflow: hidden;
}

.contenedor-principal{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------ ANIMACION DE FONDO -----------------------------------*/
.animacion-verde{
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    
    background: linear-gradient(to bottom, black, rgb(0, 255, 0), black);
    animation: animacionLuzVerde 4s linear infinite;

    z-index: 1;
}

@keyframes animacionLuzVerde {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(110%);
    }
}
/*-------------------------------------------------------------------------------------*/

.cuadricula{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    row-gap: 5px;
    padding-left: 5px;
    padding-top: 5px;
    position: absolute;
    z-index: 2;
}

.celda{
    width: 75px;
    height: 75px;
    background-color: rgb(25, 25, 25);
    transition: all 1.5s ease-out;
}

.celda:hover{
    cursor: pointer;
    background-color: rgb(0, 255, 0);
    transition: none;
}

/*---------------------------------contenedor-login---------------------------------*/
.contenedor-login{
    position: absolute;
    z-index: 10;

    width: 20%;
    height: 50%;

    display: flex;
    flex-direction: column;

    background-color: red;
}
/*----------------------------------------------------------------------------------*/
