@font-face {
    font-family: "PromptSemiBold";
    src: url(../font/Prompt-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PromptSemiBold";
}

body{
    height: 100vh;
    overflow: hidden;
}

.contenedor-principal{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------ ANIMACION DE FONDO -----------------------------------*/
.animacion-verde{
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    
    background: linear-gradient(to bottom, black, rgb(0, 255, 0), black);
    animation: animacionLuzVerde 4s linear infinite;

    z-index: 1;
}

@keyframes animacionLuzVerde {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(110%);
    }
}
/*--------------------------fin de animacion de fondo---------------------------------------*/

.cuadricula{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    row-gap: 5px;
    padding-left: 5px;
    padding-top: 5px;
    position: absolute;
    z-index: 2;
}

.celda{
    width: 75px;
    height: 75px;
    background-color: rgb(17, 17, 17);
    transition: all 1.5s ease-out;
}

.celda:hover{
    background-color: rgb(0, 255, 0);
    transition: none;
}

/*---------------------------------contenedor-login---------------------------------*/
.contenedor-login{
    position: absolute;
    z-index: 10;

    
    width: 23%;
    height: 65%;

    display: flex;
    flex-direction: column;

    background-color: rgb(22, 22, 22);
    box-shadow: 0px 0px 30px 15px black;
    border-radius: 15px;
}

.titulo{
    font-size: 2.2em;
    color: rgb(0, 255, 0);
    text-align: center;
    padding: 1em;
    padding-bottom: 0;
}

.titulo:hover{
    cursor: default;
}

img{
    width: 50px;
    align-self: center;
    padding-bottom: 1em;
    transition: all .2s;
}

img:hover{
    transform: translateX(5px);
}

.formulario{
    display: flex;
    flex-direction: column;
}

.contenedor-usuario,
.contenedor-password{

    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.contenedor-usuario input,
.contenedor-password input{
    color: white;
    font-size: 1.3em;
    width: 80%;
    height: 2.3em;
    margin: 10px;
    padding: 20px 10px 10px 10px;
    
    border: none;
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
    caret-color: rgb(0, 255, 0);
    outline: none;
}

.contenedor-usuario label,
.contenedor-password label{
    color: white;
    font-size: 1.3em;
    position: absolute;
    left: 45px;

    transform: translateY(60%);
    transition: all .2s;
}

.contenedor-usuario input:focus ~ label,
.contenedor-password input:focus ~ label{
    font-size: 1em;
    top: -7px;
    color: rgb(85, 85, 85);
}

.olvide,
.register{
    text-decoration: none;
    text-align: center;
    margin: 15px;
}

.olvide{
    color: white;
}

.olvide:hover{
    color: rgb(0, 255, 0);
}

.register{
    color: rgb(0, 255, 0);
}
.register:hover{
    text-decoration: underline;
}

.boton{
    width: 80%;
    height: 2em;
    align-self: center;
    
    font-size: 1.3em;
    color: black;
    background-color: rgb(0, 255, 0);

    border-radius: 10px;
    border: none;
}

.boton:hover{
    cursor: pointer;
    color: white;
    border: solid 3px white;
}
/*---------------------------fin contenedor login--------------------------------------*/
